body {
  font-family: sans-serif;
}

.form-group {
  text-align: center;
}

.small-text {
  text-align: left;
  margin-top: 30px;
}

.card {
  text-align: center;
}
#current-city-pin {
  float: right;
}

#current-temp,
#units-celsius,
#units-farenheit {
  font-size: 30px;
}

#day-two,
#day-three,
#day-four,
#day-five {
  font-weight: bold;
  margin: 20px;
}

#dayfour-temp {
  padding-bottom: 10px;
}
#dayfive-temp {
  padding-bottom: 15px;
}

#daythree-temp,
#daytwo-temp,
#dayone-temp {
  padding-bottom: 20px;
}

#dayfive-temp #dayfour-temp,
#daythree-temp,
#daytwo-temp,
#dayone-temp {
  font-weight: bold;
}

#current-card {
  background-image: url(images/landscapes.jpg);
}

#weather-image {
  margin: 30px;
}

#forecast,
#current-card {
  margin-top: 30px;
  border-radius: 30px;
  box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

#weather-conditions {
  margin: 3px;
  margin-bottom: 5px;
  text-transform: capitalize;
}
#updated,
#currentdate,
#city-name,
#month,
#date,
#day,
#time {
  color: white;
}
#day {
  margin-top: 10px;
}
#city-name {
  margin-top: 50px;
  font-size: 40px;
}
#currentdate,
#month,
#date,
#day,
#time {
  font-size: 25px;
}

#small-text {
  margin-top: 100px;
}

#city-form {
  margin-top: 58px;
  margin-bottom: 12px;
}

.temperature-links .active {
  color: white;
  cursor: default;
}

.temperature-links .active:hover {
  color: white;
  cursor: default;
  text-decoration: none;
}
